asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
dj-static==0.0.6
Django==5.2.3
django-jazzmin @ git+https://github.com/farridav/django-jazzmin.git@d269874c96fe5ff6d231c3017cdd4650bc2f3105
django-rosetta==0.10.2
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-yasg==1.21.10
gunicorn==23.0.0
idna==3.10
inflection==0.5.1
packaging==25.0
pillow==11.3.0
polib==1.2.0
psycopg2-binary==2.9.10
PyJWT==2.9.0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
reportlab==4.4.2
requests==2.32.4
sqlparse==0.5.3
static3==0.7.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.4.0
